[Unit]
Description=Proxy for project
After=projet01-pod.service
Requires=projet01-pod.service

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:v3.6
Volume=/run/user/%U/podman/podman.sock:/var/run/docker.sock
Pod=projet01.pod
Exec=traefik \
  --api.insecure=true \
  --providers.docker=true \
  --entrypoints.web.address=:80 \
  --entrypoints.websec.address=:443

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target