[Unit]
Description=App Project01 GLPI
After=db.service
Requires=db.service

[Container]
ContainerName=app-glpi
Image=docker.io/glpi/glpi
Pod=glpi
EnvironmentFile=%h/.config/containers/systemd/.env_appglpi
Volume=glpi_data:/var/glpi

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target