[Unit]
Description=Mysql pour GPLI
After=db-glpi.service
Requires=db-glpi.service

[Container]
ContainerName=db-glpi
Image=docker.io/library/mysql
Pod=pod-pod-glpi
EnvironmentFile=/tmp/.env_dbglpi
Volume=db_data:/var/lib/mysql

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target