[Unit]
Description=DB Project01 GLPI
After=glpi-pod.service
Requires=glpi-pod.service

[Container]
ContainerName=db-glpi
Image=docker.io/library/mysql:8.0
Pod=glpi
EnvironmentFile=%h/.config/containers/systemd/.env_dbglpi
Volume=db_data:/var/lib/mysql

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target