[Unit]
Description=container iam keycloak

[Container]
ContainerName=keycloak
Image=
PublishPort=8082:8080
Environment=KC_BOOTSTRAP_ADMIN_USERNAME=admin
Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=admin
Exec=start-dev

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=default.target