[Unit]
Description=container app iam
After=iam-pod.service
Requires=iam-pod.service

[Container]
ContainerName=keycloak
Image=quay.io/keycloak/keycloak:26.5.7
Pod=iam.pod
Exec=start-dev
Environment=KC_BOOTSTRAP_ADMIN_USERNAME=admin
Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=admin

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=default.target